<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bored" data-view="Meter" data-title="Bored" data-min="0" data-max="100"></div>
    </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="excited" data-view="Meter" data-title="Excited" data-min="0" data-max="100"></div>
    </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="happy" data-view="Meter" data-title="Happy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sad" data-view="Meter" data-title="Sad" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="worried" data-view="Meter" data-title="Worried" data-min="0" data-max="100"></div>
    </li>

</div>